<style>
    h1{
        font-size: 6rem;
        padding: 1rem;
        color: red;
    }

    h2, h3, h4, h5, h6{
        font-size: 2rem;
        padding: 1rem;
    }
    #firmar,
    #desfirmar
    {
        font-family: Arial !important;
        font-size: 4rem !important;
        padding: 1rem !important;
    }
    #vistaPeticion *{
        font-family: Arial !important;
        text-align: center !important;
        position: relative !important;
        justify-self: center !important;
        font-weight: bold !important;

        margin-right: auto;
        margin-left: auto;

        margin-top: 1rem !important;
        margin-bottom: 1rem !important;

        padding: 1rem !important;
    }
    #vistaPeticion img{
        width: 20rem !important;
        height: 20rem !important;
    }
</style>

<div id="vistaPeticion">
    <div id="imagen">

        <span>
            <img src="http://127.0.0.1:8000/api/imagen/{{peticion.id}}">
            <!-- <img [src]="img"> -->
        </span>
    </div>


    <h1 >{{ peticion.titulo}}</h1>


    <h2>Estado: <br>  {{ peticion.estado}}</h2>



    <h3>Descripcion: <br>{{peticion.descripcion}}</h3>



    <h4>Numero de Firmas:  <br> {{peticion.firmantes}}</h4>



    <h4>Destinatario:  <br>{{peticion.destinatario}}</h4>
    <h6>
        <a id="firmar" (click)="firmar(peticion.id)" type="button" class="btn btn-danger center-block" >Firmar peticion</a>
    </h6>
    
    <h6>
        <a id="desfirmar" (click)="desfirmar(peticion.id)" type="button" class="btn btn-danger center-block" >Desfirmar peticion</a>
    </h6>
</div>